<%= form_for @provider, :html => { :multipart => true } do |f| %>

  <fieldset>
    <ol class="section first">
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>

      <li>
        <%= f.label :logo %>
        <%= f.file_field :logo %>
      </li>
    </ol>

    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>

<% end %>
