<div id="page-header">
  <h1>Provider: <%= @provider.name %></h1>
</div>

<h2 class="section-header">Users</h2>


<% if @provider.roles.size == 0 %>
  <p>No users yet.</p>
<% else %>
  <table>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Last login</th>
      <% if can? :edit, Role %>
      <th></th>
      <th></th>
      <% end %>
    </tr>

    <% for role in @provider.roles %>
    <tr>
      <td class="<%= role.name.downcase %>">
        <%= role.user.email %>
        <% if role.user == current_user %>
        <span class="separator">|</span> <%= link_to "Change Password", show_change_password_path, :class=>'change-password' %>
        <% end %>
      </td>
      <td><%= role.name %></td>
      <td><%= role.user.last_sign_in_at %></td>
      <% if can? :edit, role %>
      <td>
        <%= form_for(role, :url=>provider_change_role_path(@provider.id), :html => { :method => :post }) do |f| %>
          <%= f.hidden_field :id %>
          <%= f.select :level, [["Admin", 100], ["Editor", 50], ["User", 0]] %>
          <%= f.submit "Change role" %>
        <% end %>
      </td>
      <td><%= button_to "Delete", provider_delete_role_path(@provider.id, :role_id=>role.id), :confirm => 'Are you sure?', :class=>'delete' %></td>
      <% end %>
    </tr>
    <% end %>
 </table>
<% end %>

<% if @provider == current_user.current_provider %>
  <p><%= link_to "Create User", new_user_path, :class=>'new-user action-bttn' %></p>
<% else %>
  <p>You are currently logged in to
  <%= current_user.current_provider.name %>.  To create a user for
  <%= @provider.name %>, please switch providers by using the dropdown
  menu at the top of this page.</p>
<% end %>

<hr />

<h2 class="section-header">Dispatch</h2>
<% if can? :edit, @provider %>
  <%= form_for @provider do |f| %>
    <fieldset>
      <ol class="section fourth">
        <li>
          <%= f.label :dispatch, "Enabled?" %>
          <%= f.select :dispatch, { "Yes" => true, "No" => false }, {}, { 
            "data-remote" => true,
            "data-method" => "post", 
            "data-url" => change_dispatch_provider_path(@provider)
          } %>
        </li>
      </ol>
    </fieldset>
  <% end %>
<% end %>

<% if @provider.dispatch? && can?(:edit, DevicePool) %>
//    device pool table : 
//    new device pool
<% end %>

<hr />

<h2 class="section-header">Drivers</h2>

<% if @provider.drivers.size == 0 %>
  <p>No drivers yet.</p>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Paid</th>
      <% if can? :edit, Driver %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
    <% for driver in @provider.drivers %>
    <tr>
      <td class="<%= driver.active ? 'active' : 'inactive' %>"><%= driver.name %></td>
      <td><%= driver.active ? "Active" : "Inactive" %></td>
      <td><%= driver.paid ? "Paid" : "Volunteer" %></td>
      <% if can? :edit, Driver %>
      <td><%= link_to "Edit", edit_driver_path(driver), :class=>'edit edit-driver' %></td>
      <td><%= link_to "Delete", driver, :confirm => 'Are you sure?', :method => :delete, :class=>'delete' %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>

<% if @provider == current_user.current_provider %>
  <p><%= link_to "Create Driver", new_driver_path, :class=>'new-driver action-bttn' %>
<% else %>
  <p>You are currently logged in to
  <%= current_user.current_provider.name %>.  To create a driver for
  <%= @provider.name %>, please switch providers by using the dropdown
  menu at the top of this page.</p>
<% end %>

<hr />

<h2 class="section-header">Vehicles</h2>

<% if @provider.vehicles.size == 0 %>
  <p>No vehicles yet.</p>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>License Plate</th>
      <th>VIN</th>
      <th>Location</th>
      <th></th>
      <% if can? :edit, Vehicle %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
    <% for vehicle in @provider.vehicles %>
    <tr class="<%= vehicle.active ? 'active' : 'inactive' %>">
      <td class="name">
        <% if can? :edit, Vehicle %>
        <%= link_to vehicle.name, vehicle_path(vehicle) %>
        <% else %>
        <%= vehicle.name %>
        <% end %>
      </td>
      <td><%= vehicle.year %></td>
      <td><%= vehicle.make %></td>
      <td><%= vehicle.model %></td>
      <td><%= vehicle.license_plate %></td>
      <td><%= vehicle.vin %></td>
      <td><%= vehicle.garaged_location %></td>
      <td><%= vehicle.active ? "Active" : "Inactive" %></td>
      <% if can? :edit, Vehicle %>
      <td><%= link_to "Edit", edit_vehicle_path(vehicle), :class=>'edit edit-vehicle' %></td>
      <td><%= link_to "Delete", vehicle, :confirm => 'Are you sure?', :method => :delete, :class=>'delete' %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>

<% if @provider == current_user.current_provider %>
  <p><%= link_to "Create Vehicle", new_vehicle_path, :class=>'new-vehicle action-bttn' %></p>
<% else %>
  <p>You are currently logged in to
  <%= current_user.current_provider.name %>.  To create a vehicle for
  <%= @provider.name %>, please switch providers by using the dropdown
  menu at the top of this page.</p>
<% end %>

<hr />

<h2 class="section-header">Addresses</h2>

<% form_tag search_addresses_path, :method => :get, :remote => true, :id => "search_addresses" do %>
  <%= hidden_field_tag :provider_id, @provider.id %>
  <fieldset>
    <ol class="section fourth">
      <li>
        <%= label_tag "Filter by Name" %>
        <%= text_field_tag :name %>
        <%= submit_tag "Search" %>
      </li>
    </ol>
  </fieldset>
<% end %>

<table id="address_results">
  <tr>
    <th>Name</th>
    <th>Building Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Phone Number</th>
    <th></th>
    <% if can? :edit, Vehicle %>
    <th></th>
    <!-- <th></th> -->
    <% end %>
  </tr>
  <% if @provider.addresses.size == 0 %>
    <tr><td >No addresses yet.</td></tr>
  <% else %>
    <tr><td >Search for an address above.</td></tr>
  <% end %>
</table>