<%= form_for @trip, :html => (@remote ? {"data-remote" => true} : {} ) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- the customer id needs to be passed in this action -->
  <%= f.hidden_field :customer_id %>

  <fieldset class="new-trip">

    <ol class="section first">
      <li class="selfclear">
        <label for="customer">Customer:</label>
        <%= render "customer", :f => f, :trip => @trip %>
      </li>

      <li class="selfclear timepicker">
        <%= f.label :pickup_time, "Pickup Time:" %>
        <%= f.text_field :pickup_time, :value => @trip.pickup_time.try(:to_s, :form) %>
      </li>

      <li class="selfclear timepicker">
        <%= f.label :appointment_time, "Appointment Time:" %>
        <%= f.text_field :appointment_time, :value => @trip.appointment_time.try(:to_s, :form) %>
      </li>

      <li class="selfclear">
        <%= f.label :round_trip, "Round Trip:" %>
        <%= f.check_box :round_trip %>
      </li>

      <li class="selfclear">
        <!-- we need some complexity, because this form handles 
             both trips and repeating trips.
             So, we'll just put all the repeating stuff into
             plain params and handle it in the controller
          -->
        <label for="repeats_id">Repeats:</label>
        <ul>
          <li>
            <input type="checkbox" name="monday" value="Monday" <%= @schedule.monday ? 'checked="checked"' : '' %>/> M&nbsp;
            <input type="checkbox" name="tuesday" value="Tuesday" <%= @schedule.tuesday ? 'checked="checked"' : '' %>/> T&nbsp;
            <input type="checkbox" name="wednesday" value="Wednesday" <%= @schedule.wednesday ? 'checked="checked"' : '' %>/> W&nbsp;
            <input type="checkbox" name="thursday" value="Thursday" <%= @schedule.thursday ? 'checked="checked"' : '' %>/> R&nbsp;
            <input type="checkbox" name="friday" value="Friday" <%= @schedule.friday ? 'checked="checked"' : '' %>/> F&nbsp;
          </li>
          <li>
            every <input type="text" size="2" name="interval" id="interval" value="<%= @schedule.interval %>"/> week(s)
          </li>
        </ul>
      </li>

      <li class="selfclear">
        <%= f.label :pickup_address_label, "Pickup Address:" %>
        <%= autocomplete_field_tag "pickup_search_address", @trip.pickup_address.try(:text), autocomplete_addresses_path, :size => 30, :id_element => "#trip_pickup_address_id", :class => "full", "data-original-value" => @trip.pickup_address.try(:text), "data-original-id" => @trip.pickup_address.try(:id) %>
        <%= f.hidden_field :pickup_address_id %>
      </li>
      
      <li class="selfclear">
        <label for="phone">Customer Phone:</label>
        <input type="text" size="30" name="phone" id="phone" value="<%= @customer.try(:phone_number_1) %>" readonly="readonly" class="full"/>
      </li>

      <li class="selfclear">
        <%= f.label :dropoff_address_label, "Dropoff Address:" %>
        <%= autocomplete_field_tag "dropoff_search_address", @trip.dropoff_address.try(:text), autocomplete_addresses_path, 
          :size                => 30, 
          :update_elements     => {
            :id                   => '#trip_dropoff_address_id',
            :default_trip_purpose => '#trip_trip_purpose'
          },
          :class                => "full", 
          "data-original-value" => @trip.dropoff_address.try(:text), 
          "data-original-id"    => @trip.dropoff_address.try(:id) %>
        <%= f.hidden_field :dropoff_address_id %>
      </li>

      <li class="selfclear">
        <label for="dropoff_phone">Dropoff Phone:</label>
        <input type="text" size="30" name="dropoff_phone" id="dropoff_phone" value="<%= @trip.dropoff_address.try(:phone_number) %>" readonly="readonly" class="full"/>
      </li>
    </ol>
    
    <ol class="section second">
      <li class="selfclear">
        <%= f.label :trip_purpose, "Trip Purpose:" %>
        <%= f.select :trip_purpose, @trip_purposes, :include_blank => true %>
      </li>

      <li class="selfclear passengers group_size">
        <% if @customer %>
          <% if @customer.group %>
            <%= f.label :group_size, "Group Size:" %>
            <%= f.text_field :group_size %>
          <% else %>
            <%= f.label :guest_count, "Passengers:" %>
            <ul>
              <li>
                <span class="nobreak"><%= f.text_field :guest_count %>&nbsp;Guests&nbsp;</span>
                <span class="nobreak"><%= f.text_field :attendant_count %>&nbsp;Attendants</span>
              </li>
            </ul>
          <% end %>
        <% else %>
          <%= hidden_field_tag "trip_group" %>
          <%= f.label :group_size, "Group Size:" %>
          <%= f.text_field :group_size %>
        </li>
        <li class="selfclear passengers">
          <%= f.label :guest_count, "Passengers:" %>
          <ul>
            <li>
              <span class="nobreak"><%= f.text_field :guest_count %>&nbsp;Guests&nbsp;</span>
              <span class="nobreak"><%= f.text_field :attendant_count %>&nbsp;Attendants</span>
            </li>
          </ul>
        <% end %>
      </li>

      <li class="selfclear">
        <%= f.label :vehicle_id, "Vehicle:" %>
        <%= f.select :vehicle_id,
            options_for_select( @vehicles.map { |v| [v.name, v.id, {'data-driver-id' => v.try(:default_driver_id) } ] }, @trip.vehicle_id ),
            :include_blank => true %>
      </li>

      <li class="selfclear">
        <%= f.label :driver_id, "Driver:" %>
        <%= f.select :driver_id, options_from_collection_for_select( @drivers, :id, :name, @trip.driver_id ), :include_blank => true %>
      </li>

      <li class="selfclear">
        <label for="customer_private_notes">Customer Private Notes:</label>
        <textarea rows="20" name="customer_private_notes" id="customer_private_notes" cols="40" readonly="readonly"><%= @customer.try :private_notes %></textarea>
      </li>
    </ol>

    <ol class="section third">
      <li class="selfclear">
        <%= f.label :trip_result, "Result:" %>
        <%= f.select :trip_result, @trip_results, :include_blank => true %>
      </li>

      <li class="selfclear donation">
        <%= f.label :donation, "Donation:" %>
        <%= f.text_field :donation, :size => 8 %>
      </li>

      <li class="selfclear">
        <%= f.label :funding_source_id, "Funding Source:" %>
        <%= f.collection_select :funding_source_id, @funding_sources, :id, :name %>
      </li>

      <li class="selfclear">
        <%= f.label :mobility_id, "Mobility Req.:" %>
        <%= f.collection_select :mobility_id, @mobilities, :id, :name %>
      </li>

      <li class="selfclear">
        <label for="mobility_notes">Mobility Notes:</label>
        <textarea rows="20" name="mobility_notes" id="mobility_notes" cols="40" readonly="readonly"><%= @customer.try :mobility_notes %></textarea>
      </li>
    </ol>

    <ol class="section fourth double">
      <li class="selfclear">
        <%= f.label :notes, "Trip Notes:" %>
        <%= f.text_area :notes %>
      </li>
      <li class="selfclear">
        <%= f.label :customer_informed, "Called Back:" %>
        <%= f.check_box :customer_informed %>
        <% if @trip.customer_informed %>
          on <%= @trip.called_back_at %>
          by <%= @trip.called_back_by.email if @trip.called_back_by.present? %>
        <% end %>
      </li>
    </ol>

    <div class="actions">
      <%= f.submit %>
    </div>

  </fieldset>
  <hr />
  <% if @remote %>
    <%= link_to "Back to View Trips", trips_path, :class => 'action-bttn', :onclick => "window.history.back();return false;" %>
  <% else %>
    <%= link_to 'Back to View Trips', trips_path, :class=>'action-bttn' %>
  <% end %>
  
<% end %>

<div id="pickup-address-form" class="address-form">
  <%= render :partial=>'find_or_create_address', :locals=>{:prefix=>'pickup', :address => @trip.pickup_address || @trip.build_pickup_address } %>
</div>


<div id="dropoff-address-form" class="address-form">
  <%= render :partial=>'find_or_create_address', :locals=>{:prefix=>'dropoff', :address => @trip.dropoff_address || @trip.build_dropoff_address } %>
</div>
