<div id="vehicle_filter">
  <%= form_tag trips_path, :id => "filter_by_vehicle", :method => :get do %>
  <%= label_tag :vehicle_id, "Filter by vehicle" %>
  <%= select_tag :vehicle_id, options_from_collection_for_select( @vehicles, :id, :name), :include_blank => true  %>
  <% end %>
</div>

<div id="expand_calendar" style="display:none;">
  <button class="ui-button ui-widget ui-state-default ui-button-text-icon-primary ui-button-icon-only ui-corner-left ui-corner-right" title="Expand">
    <span class="ui-button-icon-primary ui-icon ui-icon-arrowthickstop-1-s"></span>
    <span class="ui-button-text">expand</span>
  </button>
</div>

<table class="trips" <% if display %>style="display:<%= display %>;" <% end %>>
  <tr>
    <th>Customer</th>
    <% if can? :edit, Trip %>
      <th></th>
    <% end %>
    <th></th>
    <th>Pickup Time</th>
    <th>Result</th>
  </tr>

  <% @trips.each do |trip| %>
    <%= render "trip_row", :trip => trip %>
  <% end %>
</table>
