<tr>
  <th colspan="5">
    <%=format_time_for_listing_day trips.first.pickup_time %>
  </th>
</tr>
<% trips.each do |trip| %>
  <tr class="trip">
    <td><%= format_time_for_listing trip.pickup_time %></td>
    <td><%= trip.customer.name %></td>
    <td><%= link_to('Edit Trip', edit_trip_path(trip), "data-remote"=>true, :class=>'edit') if can? :edit, trip %></td>
    <td><%= link_to 'View Customer', trip.customer, :class => "view-customer" %></td>
    <td><%= display_trip_result(trip.trip_result) %></td>
  </tr>
<% end %>
