<div id="page-header">
  <h1>Trip</h1>
</div>

<p class="profile-actions selfclear">
  <%= link_to 'Edit', edit_trip_path(@trip), :class=>'edit' %>
</p>

<div class="trip-profile selfclear">

  <dl>
    <dt>Customer:</dt>
    <dd><%= @trip.customer.name %></dd>

    <dt>Pickup Time:</dt>
    <dd><%= @trip.pickup_time %></dd>

    <dt>Appointment Time:</dt>
    <dd><%= @trip.appointment_time %></dd>

    <dt>Repeats:</dt>
    <dd>
      <% if @trip.repeating_trip %>
        <% repeating_trip = @trip.repeating_trip %>
        <% attributes = repeating_trip.schedule_attributes %>
        <% weekdays = collect_weekdays(attributes) %>
        <%= (weekdays.map {|x| weekday_abbrev(x) }).join(", ") %>
        every <%= attributes.interval %> week(s)
      <% else %>
        No
      <% end %>
    </dd>

    <dt>Pickup Address:</dt>
    <dd><%= @trip.pickup_address.text %></dd>

    <dt>Dropoff Address:</dt>
    <dd><%= @trip.dropoff_address.text %></dd>

    <dt>Phone:</dt>
    <dd><%= @trip.customer.phone_number_1 %></dd>

    <dt>Alt. Phone:</dt>
    <dd><%= @trip.customer.phone_number_2 %></dd>
  </dl>

  <dl>
    <dt>Trip Purpose:</dt>
    <dd><%= @trip_purposes %></dd>

    <dt>Passengers:</dt>
    <dd><%= @trip.group_size == 0 ? @trip.guest_count + @trip.attendant_count  : @trip.group_size %></dd>

    <dt>Vehicle:</dt>
    <dd><%= @trip.run ? @trip.run.vehicle_name : 'cab' %></dd>

    <dt>Customer Private Notes:</dt>
    <dd>
      <div class="notes">
        <%= @trip.customer.private_notes %>
      </div>
    </dd>
  </dl>

  <dl>
    <dt>Result:</dt>
    <dd><%= @trip.trip_result %></dd>

    <dt>Donation:</dt>
    <dd><%= @trip.donation %></dd>

    <dt>Funding Source:</dt>
    <dd><%= @trip.funding_source ? @trip.funding_source.name : '' %></dd>

    <dt>Mobility Req.:</dt>
    <dd><%= @trip.mobility.name %></dd>

    <dt>Mobility Notes:</dt>
    <dd>
      <div class="notes">
        <%= @trip.customer.mobility_notes %>
      </div>
    </dd>
  </dl>

  <dl>
    <dt>Trip Notes:</dt>
    <dd>
      <div class="notes">
        <%= @trip.notes %>
      </div>
    </dd>

    <dt>Called Back:</dt>
    <dd><%= @trip.called_back_at ? @trip.called_back_at : 'not yet'%></dd>
  </dl>

</div>

<hr />

<%= link_to 'Back', trips_path, :class=>'action-bttn' %>
