<h1>Trips requiring callbacks</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Pickup Time</th>
    <th>Result</th>
    <th>Last called back</th>
    <th></th>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.customer.name %></td>
    <td><%= trip.pickup_time.to_s %></td>
    <td><%= trip.trip_result %></td>
    <td><%= trip.called_back_at ? trip.called_back_at : "not yet called" %></td>
    <td><%= button_to 'Mark as reached', trip_reached_path(trip) %></td>
    <td><%= button_to "Called but didn't reach", trip_unreached_path(trip) %></td>
  </tr>
<% end %>
</table>

<br />
