<div id="page-header">
  <h1>Trips Requiring Callback</h1>
</div>

<table>
  <tr>
    <th>Customer</th>
    <th>Pickup Time</th>
    <th>Result</th>
    <th>Last called back</th>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.customer.name %></td>
    <td><%= trip.pickup_time.to_s %></td>
    <td><%= display_trip_result trip.trip_result %></td>
    <td><%= trip.called_back_at ? trip.called_back_at : "not yet called" %></td>
    <td><%= button_to 'Mark as reached', trip_reached_path(trip) %></td>
  </tr>
<% end %>
</table>

<br />
