<p id="notice"><%= notice %></p>

Trip for: <%= @repeating_trip.customer.name %><br/
Pickup time: <%= @repeating_trip.pickup_time.to_s %><br/>
Group size: <%= @repeating_trip.group_size %><br/>

Repeats every: <%= @repeating_trip.schedule_attributes.interval_unit %><br/>

Next scheduled for: <%= @repeating_trip.schedule_attributes.next_occurance %><br/>

<%= link_to 'Edit', edit_repeating_trip_path(@repeating_trip) %> |
<%= button_to 'Delete', repeating_trip_path(@repeating_trip), :method => :delete %> |
<%= link_to 'Back', repeating_trips_path %>
