<%= render "shared/error_messages", :target => @monthly %> 

<%= form_for @monthly do |f| %>

  <fieldset>

    <ol class="section first">
      <li>
        <%= f.label :start_date, "Month" %>
        <%= f.date_select :start_date, :order => [:month, :year] %>    
      </li>
    </ol>

    <ol class="section second">
      <li>
        <%= f.label :volunteer_escort_hours %>
        <%= f.text_field :volunteer_escort_hours %>
      </li>

      <li>
        <%= f.label :volunteer_admin_hours %>
        <%= f.text_field :volunteer_admin_hours %>
      </li>
    </ol>

    <div class="actions">    
      <%= f.submit %>
    </div>

  </fieldset>

<% end %> 
