<div>Create initial user. </div>

<%= form_for @user, :url=>:init do |f| %>

Email:<br/>
<%= f.text_field :email %><br/>

Password:<br/>
<%= f.password_field :password %><br/>

Password confirmation:<br/>
<%= f.password_field :password_confirmation %><br/>

<%= f.submit "Create" %>

<% end %>
