<h1>Listing clients</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Middle initial</th>
    <th>Last name</th>
    <th>Phone number 1</th>
    <th>Phone number 2</th>
    <th>Address</th>
    <th>Email</th>
    <th>Activated date</th>
    <th>Inactivated date</th>
    <th>Inactivated reason</th>
    <th>Birth date</th>
    <th>Mobility</th>
    <th>Mobility notes</th>
    <th>Ethnicity</th>
    <th>Emergency contact notes</th>
    <th>Private notes</th>
    <th>Public notes</th>
    <th>Provider</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.first_name %></td>
    <td><%= client.middle_initial %></td>
    <td><%= client.last_name %></td>
    <td><%= client.phone_number_1 %></td>
    <td><%= client.phone_number_2 %></td>
    <td><%= client.address_id %></td>
    <td><%= client.email %></td>
    <td><%= client.activated_date %></td>
    <td><%= client.inactivated_date %></td>
    <td><%= client.inactivated_reason %></td>
    <td><%= client.birth_date %></td>
    <td><%= client.mobility_id %></td>
    <td><%= client.mobility_notes %></td>
    <td><%= client.ethnicity %></td>
    <td><%= client.emergency_contact_notes %></td>
    <td><%= client.private_notes %></td>
    <td><%= client.public_notes %></td>
    <td><%= client.provider_id %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
