<p id="notice"><%= notice %></p>

<%= link_to 'Create trip', new_trip_path(:client_id=>@client.id) %>

<p>
  <b>First name:</b>
  <%= @client.first_name %>
</p>

<p>
  <b>Middle initial:</b>
  <%= @client.middle_initial %>
</p>

<p>
  <b>Last name:</b>
  <%= @client.last_name %>
</p>

<p>
  <b>Phone number 1:</b>
  <%= @client.phone_number_1 %>
</p>

<p>
  <b>Phone number 2:</b>
  <%= @client.phone_number_2 %>
</p>

<p>
  <b>Address:</b>
  <%= raw format_newlines @client.address.text %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Activated date:</b>
  <%= @client.activated_date %>
</p>

<p>
  <b>Inactivated date:</b>
  <%= @client.inactivated_date %>
</p>

<p>
  <b>Inactivated reason:</b>
  <%= @client.inactivated_reason %>
</p>

<p>
  <b>Birth date:</b>
  <%= @client.birth_date %>
</p>

<p>
  <b>Mobility:</b>
  <%= @client.mobility_id %>
</p>

<p>
  <b>Mobility notes:</b>
  <%= @client.mobility_notes %>
</p>

<p>
  <b>Ethnicity:</b>
  <%= @client.ethnicity %>
</p>

<p>
  <b>Emergency contact notes:</b>
  <%= @client.emergency_contact_notes %>
</p>

<p>
  <b>Private notes:</b>
  <%= @client.private_notes %>
</p>

<p>
  <b>Public notes:</b>
  <%= @client.public_notes %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
