<ul>
<% if can? :edit, "Providers" %>
<li><%= link_to "Providers", providers_path %></li>
<% end %>

<li><%= link_to "Customers", customers_path %></li>
<li><%= link_to "Trips", trips_path %></li>
<li><%= link_to "Repeating trips", repeating_trips_path %></li>
<li><%= link_to "Reports", reports_path %></li>
<li><%= link_to "Vehicles, drivers and users", provider_path(current_user.current_provider) %></li>
<% if can? :edit, FundingSource %>
<li><%= link_to "Funding sources", funding_sources_path %></li>
<% end %>
</ul>
