<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Phone number 1</th>
    <th>Active</th>
    <th>Birth date</th>
    <th>Mobility</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.group ? "(Group)" : "" %></td>
    <td><%= customer.name %></td>
    <td><%= customer.phone_number_1 %></td>
    <td><%= customer.inactivated_date ? "Active" : "Inactive" %></td>
    <td><%= customer.birth_date %></td>
    <td><%= customer.mobility.name %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'New Trip', new_trip_path(:customer_id=>customer.id) %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
