
<table class="customer-list">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Phone</th>
      <th>Alternate Phone</th>
      <th>Email</th>
      <th>Activated Date</th>
      <% if show_inactivated_date %>
      <th>Inactivated Date</th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @customers.each do |customer| %>
    <tr>
      <td class="plurality"><%= link_to customer.group ? content_tag(:span, "Group", :class=>'group') : content_tag(:span, "Individual", :class=>'individual'), customer %></td>
      <td><%= link_to customer.name, customer %></td>
      <td><%= customer.phone_number_1 %></td>
      <td><%= customer.phone_number_2 %></td>
      <td><%= customer.email %></td>
      <td><%= customer.activated_date %></td>
      <% if show_inactivated_date %>
      <td><%= customer.inactivated_date %></td>
      <% end %>
      <td><%= link_to 'New Trip', new_trip_path(:customer_id=>customer.id), :class=>'new-trip' %></td>
      <td><%= link_to 'Edit', edit_customer_path(customer), :class=>'edit' %></td>
      <td><% if can_delete? customer %><%= link_to 'Delete', customer, :confirm => 'Are you sure?', :method => :delete, :class=>'delete' %><% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
