<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @dup %>
    <label for="ignore_dups">Ignore duplicates</label>
    <%= check_box_tag :ignore_dups %><br/>
  <% end %>

  <p>
    <label for="group">For a group trip, check the box and use only the first name field to hold the group name</label>
    <%= f.check_box :group %>
  </p>

  <% if @customer.activated_date %>
    Created: <%= @customer.activated_date %>
  <% end %>

  <% if @customer.inactivated_date %>
    Inactivated: <%= @customer.inactivated_date %>
  <% else %>
    <% if @customer.activated_date %>
      Active
    <% end %>
  <% end %>

  <fieldset class="new-customer">

    <ol class="section first">
      <li class="selfclear">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </li>

      <li class="selfclear">
        <%= f.label :middle_initial %>
        <%= f.text_field :middle_initial %>
      </li>

      <li class="selfclear">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </li>

      <li class="selfclear">
        <%= f.label :phone_number_1 %>
        <%= f.text_field :phone_number_1 %>
      </li>

      <li class="selfclear">
        <%= f.label :phone_number_2 %>
        <%= f.text_field :phone_number_2 %>
      </li>

      <%= f.fields_for :address do |address_form| %>
      <%= render 'addresses/form', :form=>address_form %>
      <% end %>

      <li class="selfclear">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </li>

      <li class="selfclear">
        <%= f.label :inactivated_reason %>
        <%= f.text_field :inactivated_reason %>
      </li>

      <li class="selfclear">
        <%= f.label :birth_date %>
        <%= f.date_select :birth_date, :start_year => 1896 %>
      </li>

      <li class="selfclear">
        <%= f.label :mobility_id %>
        <%= f.collection_select :mobility_id, @mobilities, :id, :name %>
      </li>

      <li class="selfclear">
        <%= f.label :mobility_notes %>
        <%= f.text_field :mobility_notes %>
      </li>

      <li class="selfclear">
        <%= f.label :ethnicity %>
        <%= f.text_field :ethnicity %>
      </li>

      <li class="selfclear">
        <%= f.label :emergency_contact_notes %>
        <%= f.text_area :emergency_contact_notes %>
      </li>

      <li class="selfclear">
        <%= f.label :private_notes %>
        <%= f.text_area :private_notes %>
      </li>

      <li class="selfclear">
        <%= f.label :public_notes %>
        <%= f.text_area :public_notes %>
      </li>
    </ol>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
