<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @dup %>
    <label for="ignore_dups">Ignore duplicates</label>
    <%= check_box_tag :ignore_dups %><br/>
  <% end %>

  <fieldset class="new-customer">

    <div class="group">
      <%= f.check_box :group %>
      <%= f.label :group, "Group" %>
    </div>

    <ol class="section first">
      <li class="selfclear firstname">
        <%= f.label :first_name, "First Name:" %>
        <%= f.text_field :first_name %>
      </li>

      <li class="selfclear middlename">
        <%= f.label :middle_initial, "Middle Initial:" %>
        <%= f.text_field :middle_initial %>
      </li>

      <li class="selfclear lastname">
        <%= f.label :last_name, "Last Name:" %>
        <%= f.text_field :last_name %>
      </li>

      <li class="selfclear">
        <%= f.label :phone_number_1, "Phone:" %>
        <%= f.text_field :phone_number_1 %>
      </li>

      <li class="selfclear">
        <%= f.label :phone_number_2, "Alt Phone:" %>
        <%= f.text_field :phone_number_2 %>
      </li>

      <li class="selfclear">
        <%= f.label :email, "Email:" %>
        <%= f.text_field :email %>
      </li>

      <li class="selfclear">
        <%= f.label :birth_date, "Date Of Birth" %>
        <%= f.date_select :birth_date, :start_year => 1896, :include_blank => true %>
      </li>

      <li class="selfclear">
        <%= f.label :ethnicity, "Ethnicity:" %>
	<%= f.select :ethnicity, @ethnicities %>
      </li>
    </ol>

    <ol class="section second">
      <%= f.fields_for :address do |address_form| %>
      <%= render 'addresses/form', :form=>address_form, :editing_address => false %>
      <% end %>

      <li class="selfclear">
        <%= f.label :mobility_id, "Mobility:" %>
        <%= f.collection_select :mobility_id, @mobilities, :id, :name %>
      </li>

      <li class="selfclear">
        <%= f.label :mobility_notes, "Mobility Notes:" %>
        <%= f.text_area :mobility_notes %>
      </li>
    </ol>

    <ol class="section third">
      <li class="selfclear">
        <%= f.label :emergency_contact_notes, "Emergency Contact Notes:" %>
        <%= f.text_area :emergency_contact_notes %>
      </li>

      <li class="selfclear">
        <%= f.label :private_notes, "Private Notes:" %>
        <%= f.text_area :private_notes %>
      </li>

      <li class="selfclear">
        <%= f.label :public_notes, "Public Notes:" %>
        <%= f.text_area :public_notes %>
      </li>

      <% if @customer.inactivated_date %>
      <li class="selfclear">
        <%= f.label :inactivated_reason, "Inactivated Reason:" %>
        <%= f.text_field :inactivated_reason %>
      </li>
      <% end %>
    </ol>

    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>

<% end %>
