<div id="page-header">
  <h1>Customer: <%= @customer.name %></h1>
</div>

<div class="profile-actions selfclear">
  <%= link_to 'New Trip', new_trip_path(:customer_id=>@customer.id), :class=>'new-trip'  %>
  <span class="separator">|</span>
  <div class="manage">
    <%= link_to 'Edit', edit_customer_path(@customer), :class=>'edit' %>
    <%= delete_trippable_link(@customer) %>
  </div>
</div>

<% if @trips.present? && can?(:destroy, @customer) %>
  <div id="confirm-destroy" style="display:none;">
    <%= form_for @customer, :html => { :method => "delete" } do |form| %>
      <fieldset>
        <legend>Associate this customer's trips with another customer.</legend>
        <ol class="section">
          <li>
          <%= label_tag "Customer Name:" %>
          <%= autocomplete_field_tag 'customer_name', '', autocomplete_customers_path, :size => 30, :id_element => "#customer_id", "submit-buttons" => "#show_details #new_trip" %>
          <%= hidden_field_tag 'customer_id' %>
          </li>
        </ol>
      </fieldset>
    <% end %>
  </div>
  
<% end %>

<div class="customer-profile selfclear">

<dl>
  <dt>First name:</dt>
  <dd><%= @customer.first_name %></dd>

  <dt>Middle initial:</dt>
  <dd><%= @customer.middle_initial %></dd>

  <dt>Last name:</dt>
  <dd><%= @customer.last_name %></dd>

  <dt>Phone number 1:</dt>
  <dd><%= @customer.phone_number_1 %></dd>

  <dt>Phone number 2:</dt>
  <dd><%= @customer.phone_number_2 %></dd>

  <dt>Address:</dt>
  <dd><%= @customer.address ? raw(format_newlines @customer.address.text) : '' %></dd>

  <dt>Email:</dt>
  <dd><%= @customer.email %></dd>
</dl>

<dl>
  <dt>Activated date:</dt>
  <dd><%= @customer.activated_date %></dd>

  <dt>Inactivated date:</dt>
  <dd><%= @customer.inactivated_date %></dd>

  <dt>Inactivated reason:</dt>
  <dd><%= @customer.inactivated_reason %></dd>

  <dt>Birth date:</dt>
  <dd><%= @customer.birth_date %></dd>

  <dt>Mobility:</dt>
  <dd><%= @customer.mobility.name if @customer.mobility %></dd>

  <dt>Mobility notes:</dt>
  <dd><%= @customer.mobility_notes %></dd>
</dl>

<dl>
  <dt>Ethnicity:</dt>
  <dd><%= @customer.ethnicity %></dd>

  <dt>Emergency contact notes:</dt>
  <dd><%= @customer.emergency_contact_notes %></dd>

  <dt>Private notes:</dt>
  <dd><%= @customer.private_notes %></dd>

  <dt>Public notes:</dt>
  <dd><%= @customer.public_notes %></dd>
</dl>

</div>

<hr />

<h2 class="section-header">Trips</h2>

<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>Pickup Time</th>
    <th>Result</th>
  </tr>
  <% if @trips.present? %>
    <% for trip in @trips %>
    <tr>
      <td><%= link_to trip.pickup_time.strftime('%m-%d-%Y %I:%M%P'), edit_trip_path(trip) %></td>
      <td><%= TRIP_RESULT_CODES[trip.trip_result] %></td>
    </tr>
    <% end %>
  <% else %>
    <tr>
      <td>No trips yet.</td>
    </tr>
  <% end %>
</table>

<%= will_paginate @trips %>

<hr />
<%= link_to 'Back', customers_path, :class=>'action-bttn' %>
