<div id="page-header">
  <h1>Customer: <%= @customer.first_name + h(' ') + @customer.middle_initial + h(' ') + @customer.last_name %></h1>
</div>

<p class="customer-actions">
  <%= link_to 'New Trip', new_trip_path(:customer_id=>@customer.id), :class=>'new-trip'  %>
  <span class="separator">|</span>
  <%= link_to 'Edit', edit_customer_path(@customer), :class=>'edit' %>
</p>

<div class="customer-profile selfclear">

<dl>
  <dt>First name:</dt>
  <dd><%= @customer.first_name %></dd>

  <dt>Middle initial:</dt>
  <dd><%= @customer.middle_initial %></dd>

  <dt>Last name:</dt>
  <dd><%= @customer.last_name %></dd>

  <dt>Phone number 1:</dt>
  <dd><%= @customer.phone_number_1 %></dd>

  <dt>Phone number 2:</dt>
  <dd><%= @customer.phone_number_2 %></dd>

  <dt>Address:</dt>
  <dd><%= raw format_newlines @customer.address.text %></dd>

  <dt>Email:</dt>
  <dd><%= @customer.email %></dd>
</dl>

<dl>
  <dt>Activated date:</dt>
  <dd><%= @customer.activated_date %></dd>

  <dt>Inactivated date:</dt>
  <dd><%= @customer.inactivated_date %></dd>

  <dt>Inactivated reason:</dt>
  <dd><%= @customer.inactivated_reason %></dd>

  <dt>Birth date:</dt>
  <dd><%= @customer.birth_date %></dd>

  <dt>Mobility:</dt>
  <dd><%= @customer.mobility_id %></dd>

  <dt>Mobility notes:</dt>
  <dd><%= @customer.mobility_notes %></dd>
</dl>

<dl>
  <dt>Ethnicity:</dt>
  <dd><%= @customer.ethnicity %></dd>

  <dt>Emergency contact notes:</dt>
  <dd><%= @customer.emergency_contact_notes %></dd>

  <dt>Private notes:</dt>
  <dd><%= @customer.private_notes %></dd>

  <dt>Public notes:</dt>
  <dd><%= @customer.public_notes %></dd>
</dl>

</div>

<hr />

<%= link_to 'Back', customers_path, :class=>'action-bttn' %>
