<%= form_for @funding_source do |f| %>

  <fieldset>
    <ol class="section first">
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>

      <li>
        <label>Available to:</label>
        <ul>
          <% for provider in @providers %>
          <li>
          <% checked = @checked_providers.member? provider %>
          <%= check_box_tag("provider[]", provider.id, checked, :id=>"provider[%s]" % provider.id) %> 
          <label for="provider[<%=provider.id%>]"><%= provider.name %></label><br />
          </li>
          <% end %>
        </ul>
      </li>
    </ol>

    <div class="actions">
      <%= f.submit %>
    </div>


</fieldset>

<% end %>
