<div id="page-header">
  <h1>Dispatcher</h1>
</div>

<div id="tree">
  Loading...
</div>

<form id="edit_device_pool_driver">
  <h2>Update Device</h2>
  <fieldset>
  <ol class="section">
    <li>
      <label for="user_email">Login email:</label>
      <%= text_field :user, :email %>
    </li>
    <li>
      <label for="user_password">Password:</label>
      <%= password_field :user, :password %>
    </li>
    
    <li>
      <%= grouped_collection_select :device_pool_driver, :id, current_user.current_provider.device_pools, :device_pool_drivers, :name, :id, :name %>
    </li>
    <li>
      <label for="device_pool_driver_status">Status:</label>
      <%= select :device_pool_driver, :status, DevicePoolDriver::Statuses %>
    </li>
    <li>
      <label for="device_pool_driver_lat">Lat:</label>
      <%= text_field :device_pool_driver, :lat %>
    </li>
    <li>
      <label for="device_pool_driver_lng">Long:</label>
      <%= text_field :device_pool_driver, :lng %>
    </li>
    <li>
      Approx Boundaries: <br>
      Lat[45.434, 45.622], Lng[-122.935, -122.428]
    </li>
  </ol>
  <div class="actions">
    <%= submit_tag "Update" %>
  </div>
  </fieldset>
</form>

<div id="map-container">
  
</div>

<style type="text/css" media="screen">
  #edit_device_pool_driver {
    float:left;
    clear:left;
    margin-top: 25px;
  }
  
  #edit_device_pool_driver label {
    width: 100px;
  }
</style>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "styledmarker.js" %>
<%= javascript_include_tag "jquery.jstree.js" %>
<%= javascript_include_tag "dispatcher.js" %>
<%= stylesheet_link_tag "jstree-apple/style.css" %>

<script type="text/javascript" charset="utf-8">
  var d    = new Dispatcher("tree", "map-container");
  
  $("#edit_device_pool_driver").submit(function(event){
    var form   = $(this);
    var dpd_id = form.find("#device_pool_driver_id").val();  

    $.ajax({
     url : window.location.pathname + "/test_api",
     type : "POST", 
     data :  form.serialize(),
     success : function(data){
       console.log(data); 
     }
    });
    
    event.preventDefault();
  });
</script>