
      <li class="selfclear">
        <%= form.label :name, "Address Name:" %>
        <%= form.text_field :name %>
      </li>

      <li class="selfclear">
        <%= form.label :building_name, "Building Name:" %>
        <%= form.text_field :building_name %>
      </li>

      <li class="selfclear">
        <%= form.label :address, "Address:" %>
        <%= form.text_field :address %>
      </li>

      <li class="selfclear">
        <%= form.label :city, "City:" %>
        <%= form.text_field :city %>
      </li>

      <li class="selfclear">
        <%= form.label :state, "State:" %>
        <%= form.text_field :state, :size=>2 %>
      </li>

      <li class="selfclear">
        <%= form.label :zip, "ZIP:" %>
        <%= form.text_field :zip %>
      </li>
      
      <% if editing_address %>
      <li class="selfclear">
        <%= form.label :phone_number, "Phone Number:" %>
        <%= form.text_field :phone_number %>
      </li>
      
      <li class="selfclear">
        <%= form.label :in_district, "In TriMet District:" %>
        <%= form.select :in_district, options_for_select([["Yes", "true"], ["No", "false"]]) %>
      </li>
      
      <li class="selfclear">
        <%= form.label :inactive, "Inactive:" %>
        <%= form.check_box :inactive %>
      </li>
      <% end %>