      <li class="selfclear">
        <label for="name">Address Name:</label>
        <%= form.text_field :name %>
      </li>

      <li class="selfclear">
        <label for="building_name">Building Name:</label>
        <%= form.text_field :building_name %>
      </li>

      <li class="selfclear">
        <label for="address">Address:</label>
        <%= form.text_field :address %>
      </li>

      <li class="selfclear">
        <label for="city">City:</label>
        <%= form.text_field :city %>
      </li>

      <li class="selfclear">
        <label for="state">State:</label>
        <%= form.text_field :state, :size=>2 %>
      </li>

      <li class="selfclear">
        <label for="zip">ZIP:</label>
        <%= form.text_field :zip %>
      </li>

<!-- TODO: geocode -->
