<% if @run.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@run.errors.count, "error") %> prohibited this run from being saved:</h2>

    <ul>
    <% @run.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<fieldset>
  <ol class="section first">
    <% if @run.new_record? %>
      <li>
        <%= f.label :date %>
        <%= f.text_field :date, :size => 10, :class => "datepicker" %>
      </li>
    <% end %>
    <li>
      <%= f.label :vehicle %>
      <%= f.collection_select :vehicle_id, @vehicles, :id, :name %>
    </li>
    <li>
      <%= f.label :driver %>
      <%= f.collection_select :driver_id, @drivers, :id, :name %>
    </li>
  </ol>
  <ol class="section second">
    <li>
      <%= f.label :scheduled_start_time %>
      <%= f.text_field :scheduled_start_time, :size => 8, 
          :value => @run.scheduled_start_time.try(:to_s, :time_only), "data-behavior" => "time-picker" %>
    </li>
    <li>
      <%= f.label :scheduled_end_time %>
      <%= f.text_field :scheduled_end_time, :size => 8, 
          :value => @run.scheduled_end_time.try(:to_s, :time_only), "data-behavior" => "time-picker" %>
    </li>
    <li>
      <%= f.label :actual_start_time %>
      <%= f.text_field :actual_start_time, :size => 8, 
          :value => @run.actual_start_time.try(:to_s, :time_only), "data-behavior" => "time-picker" %>
    </li>
    <li>
      <%= f.label :actual_end_time %>
      <%= f.text_field :actual_end_time, :size => 8, 
          :value => @run.actual_end_time.try(:to_s, :time_only), "data-behavior" => "time-picker" %>
    </li>
  </ol>
  <ol class="section third">
    <li>
      <%= f.label :start_odometer %>
      <%= f.text_field :start_odometer %>
    </li>
    <li>
      <%= f.label :end_odometer %>
      <%= f.text_field :end_odometer %>
    </li>
    <li>
      <%= f.label :unpaid_driver_break_time %>
      <%= f.text_field :unpaid_driver_break_time %>
    </li>
    <li>
      <%= f.label :paid %>
      <%= f.select :paid, [["Yes", "true"], ["No", "false"]], {:selected => @run.paid.to_s } %>
    </li>
  </ol>

  <%= link_to('Delete Run (does not delete trips)', @run, :confirm => 'Are you sure?', :method => :delete, :id => 'run_delete', :class=>'delete') if !@run.new_record? && can?(:destroy, @run) %>
</fieldset>
