<div id="page-header">
  <h1>Editing Run: <%= @run.date.to_s(:long) %></h1>
</div>

<%= form_for @run do |f| %>
  <%= render "form", :f => f %>
  <fieldset>
    <table>
      <tr>
        <th>Pickup Time</th>
        <th>Customer Name</th>
        <th>Round Trip?</th>
        <th>Guest Count</th>
        <th>Attendant Count</th>
        <th>Result</th>
        <th></th>
      </tr>
      <% @run.trips.each do |trip| %>
        <% f.fields_for :trips, trip do |trip_fields| %>
          <%= render :partial => 'trips/trip_form', :locals => {:trip_fields => trip_fields, :trip => trip, :show_edit_run_link => false} %>
        <% end %>
      <% end %>
    </table>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
