<div id="page-header">
  <h1>Listing runs</h1>
</div>

<div class="wc-nav ui-buttonset" data-current-week-start="<%= @week_start.to_i * 1000 %>" data-start-time="<%= @week_start.to_i * 1000 %>">
  <button class="wc-prev ui-button ui-widget ui-state-default ui-button-text-icon-primary ui-button-icon-only ui-corner-left" role="button" aria-disabled="false" title="previous">
    <span class="ui-button-icon-primary ui-icon ui-icon-seek-prev"></span>
    <span class="ui-button-text">previous</span>
  </button>
  <button class="wc-today ui-button ui-widget ui-state-default ui-button-text-icon-primary" role="button" aria-disabled="false">
    <span class="ui-button-icon-primary ui-icon ui-icon-home"></span>
    <span class="ui-button-text">This Week</span>
  </button>
  <button class="wc-next ui-button ui-widget ui-state-default ui-button-text-icon-primary ui-button-icon-only ui-corner-right" role="button" aria-disabled="false" title="next">
    <span class="ui-button-icon-primary ui-icon ui-icon-seek-next"></span>
    <span class="ui-button-text">next</span>
  </button>
</div>


<h2>
  Runs between 
  <span id="start_date">
    <%= @week_start.strftime "%m-%d-%Y" %>
  </span> and 
  <span id="end_date">
    <%= @week_end.strftime "%m-%d-%Y" %>
  </span>
</h2>
<table id="runs">
  <tr class="head">
    <th>Date</th>
    <th>Scheduled Start time</th>
    <th>Scheduled End time</th>
    <th>Vehicle</th>
    <th>Driver</th>
    <th>Complete</th>
<% if can? :edit, Run %><th></th><% end %>
  </tr>
  <% if @runs.size > 0 %>
    <% @runs.each do |run| %>
      <%= render "row", :run => run %>
    <% end %>
  <% else %>
    <%= render "no_runs" %>
  <% end %>
</table>

<%= link_to 'New Run', new_run_path, :class=>'action-bttn new' %>
