
Date: <%= @run.date %><br/>
Scheduled start time: <%= @run.scheduled_start_time %><br/>
Scheduled end time: <%= @run.scheduled_end_time %><br/>

Actual start time: <%= @run.actual_start_time %><br/>
Actual end time: <%= @run.actual_end_time %><br/>
<br/>
Start odometer: <%= @run.start_odometer %><br/>
End odometer: <%= @run.end_odometer %><br/>
<br/>
Unpaid driver break time: <%= @run.unpaid_driver_break_time %><br/>
Vehicle: <%= @run.vehicle ? @run.vehicle.name : "no vehicle assigned" %><br/>
Driver:  <%= @run.driver ? @run.driver.name : "no driver assigned" %><br/>
<%= @run.paid ? "Paid" : "Unpaid" %><br/>
<%= @run.complete ? "Complete" : "Incomplete" %><br/>

<% if can? :edit, @run %>
<td><%= link_to "Edit", edit_run_path(@run) %></td>
<% end %>
</tr>
