<%= form_for @driver do |f| %>

  <fieldset class="new-driver">
    <ol class="section first">
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>

      <li>
        <%= f.label :active %>
        <%= f.select :active, [["Active", "true"], ["Inactive", "false"]], {:selected => @driver.active.to_s} %>
      </li>

      <li>
        <%= f.label :paid %>
        <%= f.select :paid, [["Paid", "true"], ["Volunteer", "false"]], {:selected => @driver.paid.to_s} %>
      </li>
    </ol>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %> 
