<%= form_for @driver do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="new-driver">
    <ol class="section first">
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>

      <li>
        <%= f.label :active %>
        <%= f.select :active, [["Active", "true"], ["Inactive", "false"]], {:selected => @driver.active.to_s} %>
      </li>

      <li>
        <%= f.label :paid %>
        <%= f.select :paid, [["Paid", "true"], ["Volunteer", "false"]], {:selected => @driver.paid.to_s} %>
      </li>
      
      <li>
        <%= f.label :user_id, "Associated User" %>
        <%= f.collection_select :user_id, @available_users, :id, :email, :include_blank => true %>
      </li>
    </ol>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %> 
