<%= form_for @vehicle do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

    <ol class="section first">
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>

      <li>
        <%= f.label :year %>
        <%= f.text_field :year %>
      </li>

      <li>
        <%= f.label :make %>
        <%= f.text_field :make %>
      </li>

      <li>
        <%= f.label :model %>
        <%= f.text_field :model %>
      </li>
    </ol>

    <ol class="section second">
      <li>
        <%= f.label :license_plate %>
        <%= f.text_field :license_plate %>
      </li>

      <li>
        <%= f.label :vin %>
        <%= f.text_field :vin %>
      </li>

      <li>
        <%= f.label :garaged_location %>
        <%= f.text_field :garaged_location %>
      </li>

      <li>
        <%= f.label :active %>
        <%= f.select :active, [["Yes", "true"], ["No", "false"]], {:selected => @vehicle.active.to_s } %>
      </li>
    </ol>
    
    <ol class="section third">
      <li>
        <%= f.label :default_driver_id %>
        <%= f.collection_select :default_driver_id, Driver.active.for_provider(current_user.current_provider_id), :id, :name, :include_blank => true %>
      </li>

      <li>
        <%= f.label :reportable, "Vehicle should appear on vehicle report" %>
        <%= f.select :reportable, [["Yes", "true"], ["No", "false"]], {:selected => @vehicle.reportable.to_s } %>
      </li>
    </ol>

    <div class="actions">
      <%= f.submit %>
    </div>

  </fieldset>

<% end %> 
