

Name: <%= @vehicle.name %><br/>
Make: <%= @vehicle.make %><br/>
Model: <%= @vehicle.model %><br/>
License plate: <%= @vehicle.license_plate %><br/>
Vin: <%= @vehicle.vin %><br/>
Garaged: <%= @vehicle.garaged_location %><br/>


<% if @vehicle.vehicle_maintenance_events.size > 0 %>
<table>
<tr>
<th>Service date</th>
<th>Invoice date</th>
<th>Odometer</th>
<th>Vendor name</th>
<th>Invoice number</th>
<th>Invoice Amount</th>
<th>Reimbursable</th>
<th>Services Performed</th>
<% if can? :edit, @vehicle %>
<th></th>
<% end %>
</tr>

<% for event in @vehicle.vehicle_maintenance_events %>
<tr>
<td><%= event.service_date %></td>
<td><%= event.invoice_date %></td>
<td><%= event.odometer %></td>
<td><%= event.vendor_name %></td>
<td><%= event.invoice_number %></td>
<td><%= event.invoice_amount %></td>
<td><%= event.reimbursable %></td>
<td><%= event.services_performed %></td>
<% if can? :edit, @vehicle %>
<td><%= link_to "Edit", edit_vehicle_maintenance_event_path(event) %></td>
<% end %>
</tr>
<% end %>
</table>

<% else %> 

<% end %>
<br/>

<% if can? :edit, @vehicle %>
<%= link_to "Add maintenance event", new_vehicle_maintenance_event_path(:vehicle_id=>@vehicle) %>
<% end %><br/>

<% if can? :edit, @vehicle %>
<%= link_to "Edit vehicle", edit_vehicle_path(@vehicle) %>
<% end %>
