<%= form_for @vehicle_maintenance_event do |f| %>
  <%= f.hidden_field :vehicle_id %>

  <fieldset>

    <ol class="section first">
      <li>
        <%= f.label :service_date, "Service Date:" %>
        <%= f.text_field :service_date %>
      </li>

      <li>
        <%= f.label :invoice_date %>
        <%= f.text_field :invoice_date %>
      </li>

      <li>
        <%= f.label :odometer %>
        <%= f.text_field :odometer %>
      </li>

      <li>
        <%= f.label :vendor_name %>
        <%= f.text_field :vendor_name %>
      </li>
    </ol>

    <ol class="section second">
      <li>
        <%= f.label :invoice_number %>
        <%= f.text_field :invoice_number %>
      </li>

      <li>
        <%= f.label :invoice_amount %>
        <%= f.text_field :invoice_amount %>
      </li>

      <li>
        <%= f.label :reimbursable %>
        <%= f.select :reimbursable, [["Yes", "true"], ["No", "false"]], {:selected => @vehicle_maintenance_event.reimbursable.to_s } %>
      </li>

      <li>
        <%= f.label :services_performed %>
        <%= f.text_area :services_performed %>
      </li>
    </ol>

    <div class="actions">
      <%= f.submit %>
    </div>

  </fieldset>

<% end %>
