<%= form_for @device_pool do |f| %>
  <% if @device_pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device_pool.errors.count, "error") %> prohibited this device pool from being saved:</h2>
      <ul>
        <% @device_pool.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="new-device_pool">
    <ol class="section first">
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>

      <li>
        <%= f.label :color, "Color" %>
        <%= f.text_field :color, :style => "display:none;", :value => "##{@device_pool.color}" %>
      </li>
    </ol>
    <script type="text/javascript" charset="utf-8">
      $(function(){
        $('#device_pool_color').colorPicker();
      });
    </script>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>

<% end %> 
