<%= trip.customer.name %><span class='address_separator'></span>
<%= trip.customer.phone_number_1 %><span class='address_separator'></span>
<%= trip.customer.phone_number_2 %>
<br/>
<%= trip.pickup_address.try(:text) || '(Pickup Unspecified)' %><span class='address_separator'></span>
<%= trip.dropoff_address.try(:text) || '(Dropoff Unspecified)' %>
<br/>
