<%= content_for :title, "Age and Ethnicity: #{@provider.name}, #{@start_date.strftime("%B %Y")}" %>
<div id="page-header">
  <h1>Reports: Unduplicated Age &amp; Ethnicity</h1>
</div>

<%= form_for @query, :url=>url_for(:action=>:age_and_ethnicity), :html=>{:method=>:get} do |f| %>
  <fieldset class="select-month">
    <p>
      <%= f.date_select  :start_date, :order => [:month,:year] %>
      <%= f.submit "Report" %>
    </p>
  </fieldset>
<% end %>

<%= render :partial => 'header' %>

<table>
  <tr>
    <th class="table-header">Unduplicated Age & Ethnicity Report</th>
  </tr>
</table>

<table>
  <tr>
    <th class="table-header">Age</th>
    <th class="data">Current Month</th>
    <th class="data">Fiscal YTD</th>
  </tr>

  <tr>
    <td>Unduplicated number of persons 60 years and older</td>
    <td class="numeric"><%= @this_month_sixty_plus %></td>
    <td class="numeric"><%= @this_year_sixty_plus %></td>
  </tr>

  <tr>
    <td>Unduplicated number of persons 59 years and younger</td>
    <td class="numeric"><%= @this_month_less_than_sixty %></td>
    <td class="numeric"><%= @this_year_less_than_sixty %></td>
  </tr>

  <tr>
    <td>Unduplicated number of persons age unknown</td>
    <td class="numeric"><%= @this_month_unknown_age %></td>
    <td class="numeric"><%= @this_year_unknown_age %></td>
  </tr>

  <tr>
    <td class="total">Total Unduplicated Individuals</td>
    <td class="numeric total"><%= @this_month_unknown_age + @this_month_sixty_plus + @this_month_less_than_sixty %></td>
    <td class="numeric total"><%= @this_year_unknown_age + @this_year_sixty_plus + @this_year_less_than_sixty  %></td>
  </tr>
</table>

<table>
  <tr>
    <th class="table-header">Ethnic Heritage</th>
    <th class="data">Current Month</th>
    <th class="data">Fiscal YTD</th>
  </tr>

  <% for ethnicity in @counts_by_ethnicity.keys.sort %>
    <% row = @counts_by_ethnicity[ethnicity] %>
    <tr>
      <td><%= ethnicity %></td>
      <td class="numeric"><%= row['month'] %></td>
      <td class="numeric"><%= row['year'] %></td>
    </tr>
  <% end %>
  <tr>
    <td class="total">Total Unduplicated Individuals</td>
    <td class="numeric total"><%= @counts_by_ethnicity.values.map{|x| x['month']}.sum %></td>
    <td class="numeric total"><%= @counts_by_ethnicity.values.map{|x| x['year']}.sum %></td>
  </tr>
</table>

<%= render :partial => 'footer' %>
