<% content_for(:title){"Manifest #{@date.strftime('%v')}"} %>
<% i = 0 %>
<% for driver, trips in @trips %>
  <% i += 1 %>

  <h1>Transportation Manifest</h1>
  <h2><%= format_date_for_daily_manifest @date %> &mdash; <%= driver.present? ? driver.name : 'Unspecified driver' %></h2>
  
  <% if @cab_trips %>
    <div class="cab-summary">
      <h2>Cab Trips</h2>
      <%= render 'manifest_trips', :trips => @cab_trips %>
    </div>
  <% end %>

  <% start_time = Time.zone.parse(@query.start_date.to_s).advance :hours=>@start_hour %>

  <ul class="schedule">
    <% while start_time.hour < @end_hour %>
      <li>
        <% end_time = start_time.advance :minutes=>30 %>
        <% this_time = start_time %>
        <h3><%= start_time.strftime('%l:%M %P') %></h3>
        <% for trip in trips %>
          <% if trip.pickup_time == start_time %>
            <%= render 'manifest_trip', :trip => trip, :show_status => false %>
          <% end %>
        <% end %>
        <% for trip in trips %>
          <% if trip.pickup_time > start_time && trip.pickup_time < end_time %>
            <% if this_time != trip.pickup_time %>
              <% this_time = trip.pickup_time %>
              <h3><%= this_time.strftime('%l:%M %P') %></h3>
            <% end %>
            <%= render 'manifest_trip', :trip => trip, :show_status => false %>
          <% end %>
        <% end %>
      </li>
      <% start_time = start_time.advance :minutes=>30 %>
    <% end %>
  </ul>
  <% if i != @trips.size %>
    <br style="page-break-after:always" /> 
  <% end %>
<% end %>
