<div id="page-header">
  <h1>Reports</h1>
</div>

<ul class="reports">
  <li><%= link_to "Vehicles", :action=>:vehicles %></li>
  <li><%= link_to "Service Summary", :action=>:service_summary %></li>
  <li><%= link_to "Donations", :action=>:donations %></li>
  <li><%= link_to "Cab Log", :action=>:cab %></li>
  <li><%= link_to "Age & Ethnicity", :action=>:age_and_ethnicity %></li>
  <li><%= link_to "Monthly Miscellaneous Data", monthlies_path %></li>
</ul>

<hr />

<h2 class="section-header">Driver Manifests</h2>

<%= form_for @driver_query, :url=>url_for(:action=>:daily_manifest), :html=>{:method=>:get} do |f| %>
  <fieldset>
    <%= f.date_select  :start_date %>
    <%= f.collection_select :driver_id, @drivers, :id, :name %>
    <%= f.submit "Daily Manifest" %>
  </fieldset>
<% end %>

<%= form_for @driver_query, :url=>url_for(:action=>:daily_manifest_by_half_hour), :html=>{:method=>:get} do |f| %>
  <fieldset>
    <%= f.date_select  :start_date %>
    <%= f.collection_select :driver_id, @drivers, :id, :name %>
    <%= f.submit "Daily Manifest By Half Hour" %>
  </fieldset>
<% end %>
