<div id="page-header">
  <h1>Reports</h1>
</div>

<ul class="reports">
  <li><%= link_to "Service Summary", :action=>:service_summary %></li>
  <li><%= link_to "Age & Ethnicity", :action=>:age_and_ethnicity %></li>
  <li><%= link_to "Vehicles", :action=>:vehicles_monthly %></li>
  <li><%= link_to "Donations", :action=>:donations %></li>
  <li><%= link_to "Cab Log", :action=>:cab %></li>
  <li><%= link_to "Monthly Miscellaneous Data", monthlies_path %></li>
</ul>

<hr />

<h2 class="section-header">Day's Trips Report</h2>

<%= form_for @driver_query, :url=>url_for(:action=>:daily_trips), :html=>{:method=>:get} do |f| %>
  <fieldset>
    <%= f.date_select  :start_date %>
    <%= f.submit "Show" %>
  </fieldset>
<% end %>

<hr />

<h2 class="section-header">Driver Manifests</h2>

<%= form_for @driver_query, :url=>url_for(:action=>:daily_manifest), :html=>{:method=>:get} do |f| %>
  <fieldset>
    <h3>Daily Manifest</h3>
    <%= f.date_select  :start_date %>
    <%= f.collection_select :driver_id, @drivers_with_cab, :id, :name %>
    <%= f.submit "Show" %>
  </fieldset>
<% end %>

<%= form_for @driver_query, :url=>url_for(:action=>:daily_manifest_with_cab), :html=>{:method=>:get} do |f| %>
  <fieldset>
    <h3>Daily Manifest with Cab Summary</h3>
    <%= f.date_select  :start_date %>
    <%= f.collection_select :driver_id, @drivers, :id, :name %>
    <%= f.submit "Show" %>
  </fieldset>
<% end %>

<%= form_for @driver_query, :url=>url_for(:action=>:daily_manifest_by_half_hour), :html=>{:method=>:get} do |f| %>
  <fieldset>
    <h3>Daily Manifest By Half Hour</h3>
    <%= f.date_select  :start_date %>
    <%= f.collection_select :driver_id, @drivers_with_cab, :id, :name %>
    <%= f.submit "Show" %>
  </fieldset>
<% end %>

<%= form_for @driver_query, :url=>url_for(:action=>:daily_manifest_by_half_hour_with_cab), :html=>{:method=>:get} do |f| %>
  <fieldset>
    <h3>Daily Manifest By Half Hour with Cab Summary</h3>
    <%= f.date_select  :start_date %>
    <%= f.collection_select :driver_id, @drivers, :id, :name %>
    <%= f.submit "Show" %>
  </fieldset>
<% end %>

<hr />

<h2 class="section-header">Verifications</h2>

<%= form_for @trips_query, :url=>url_for(:action=>:show_trips_for_verification), :html=>{:method=>:get} do |f| %>
  <fieldset class="select-month">
    <h3>Verify trips</h3>
    <%= f.date_select  :start_date, :order => [:month,:day,:year] %>
    through 
    <%= f.date_select  :before_end_date, :order => [:month,:day,:year] %>
    <%= f.submit "Update" %>
  </fieldset>
<% end %>

<%= form_for @trips_query, :url=>url_for(:action=>:show_runs_for_verification), :html=>{:method=>:get} do |f| %>
  <fieldset class="select-month">
    <h3>Verify runs</h3>
    <%= f.date_select  :start_date, :order => [:month,:day,:year] %>
    through 
    <%= f.date_select  :before_end_date, :order => [:month,:day,:year] %>
    <%= f.submit "Update" %>
  </fieldset>
<% end %>
