<div id="page-header">
  <h1>Reports: Service Summary</h1>
</div>

<%= form_for @query, :url=>url_for(:action=>:service_summary), :html=>{:method=>:get} do |f| %>
  <fieldset class="select-month">
    <p>
      <%= f.date_select :start_date, :discard_day=>true %>
      <%= f.submit "Report" %>
    </p>
  </fieldset>
<% end %>

<div id="rc-address">
  Ride Connection
  <br />
  847 NE 19th Ave #200
  <br />
  Portland, OR 97232
  <br />
  503.528.1720
</div>

<div id="submit-information">
  <strong>Please submit report by the 5th of each month:</strong>
  <br />
  Kirsten Huckfeldt, Fiscal Specialist
  <br />
  Phone: 503.528.1742
  <br />
  Fax: 503.528.1755
  <br />
  Email: Khuckfeldt@rideconnection.org
</div>

<table>
  <tr>
    <th colspan="5" class="table-header">
      Service Summary Section 1 - Trip Data
    </th>
  </tr>
  <tr>
    <th colspan="2">
    </th>
    <th colspan="3" class="service-header">
      STF Service
    </th>
  </tr>
  <tr>
    <th>
      Line #
    </th>
    <th>
    </th>
    <th>
      In District
    </th>
    <th>
      Out of District
    </th>
    <th>
      Total
    </th>
  </tr>

  <tr>
    <th></th>
    <th>Trips</th>
    <th colspan=3 class="greyed-out"></th>
  </tr>

  <% i = 0 %>
  <% for row in @trips_by_purpose %>
    <tr>
      <th><%= i += 1 %></th>
      <td><%= row['purpose'] %></td>
      <td><%= row['in_district'] %></td>
      <td><%= row['out_of_district'] %></td>
      <td><%= row['in_district'] + row['out_of_district'] %></td>
    </tr>
  <% end %>

  <tr>
    <th><%= i += 1 %></th>
    <td>Total</td>
    <td><%= @total['in_district'] %></td>
    <td><%= @total['out_of_district'] %></td>
    <td><%= @total['in_district'] + @total['out_of_district'] %></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Total miles driven</td>
    <td colspan="2" class="greyed-out"></td>
    <td><%= @total_miles_driven %></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Turndowns</td>
    <td colspan="2" class="greyed-out"></td>
    <td><%= @turndowns %></td>
  </tr>

  <tr>
    <th></th>
    <th>Drivers</th>
    <th colspan="3" class="greyed-out"></th>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Driver hours: Volunteer</td>
    <td colspan="2" class="greyed-out"></td>
    <td><%= @volunteer_driver_hours %></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Driver hours: Paid</td>
    <td colspan="2" class="greyed-out"></td>
    <td><%= @paid_driver_hours %></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Total Driver hours</td>
    <td colspan="2" class="greyed-out"></td>
    <td><%= @paid_driver_hours + @volunteer_driver_hours %></td>
  </tr>

  <tr>
    <th></th>
    <th>Volunteer Hours</th>
    <th colspan=3 class="greyed-out"></th>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Volunteer hours: Escort</td>
    <td colspan="2" class="greyed-out"></td>
    <td>
      <%= @monthly.volunteer_escort_hours %>
    </td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Volunteer hours: Administrative</td>
    <td colspan="2" class="greyed-out"></td>
    <td>
      <%= @monthly.volunteer_admin_hours %>
    </td>
  </tr>

  <tr>
    <th></th>
    <th>Ride Information</th>
    <th colspan=3 class="greyed-out"></th>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Unduplicated riders (First ride this fiscal year)</td>
    <td colspan="2" class="greyed-out"></td>
    <td><%= @undup_riders %></td>
  </tr>

</table>
