<%= form_tag url_for(:action=>:service_summary) do %>

<%= date_select :report, :for_month, :discard_day=>true %><br/>

<%= submit_tag "Report" %>
<% end %>
<br/>

<%= form_for @monthly, :url=> {:action=>:update_monthly} do |f| %>
<%= f.hidden_field :id %>

<table>
<tr>
<th>Section 1 - Ride Data</th>
<th>In-district trips</th>
<th>Out-of-district trips</th>
<th>Total</th>
<% for row in @trips_by_purpose %>
  <tr>
  <th><%= row['purpose'] %></th>
  <td><%= row['in_district'] %></td>
  <td><%= row['out_of_district'] %></td>
  <td><%= row['in_district'] + row['out_of_district'] %></td>
  </tr>
<% end %>

<tr>
<th>Total</th>
<td><%= @total['in_district'] %></td>
<td><%= @total['out_of_district'] %></td>
<td><%= @total['in_district'] + @total['out_of_district'] %></td>
</tr>

<tr>
<th>Total miles driven</th>
<td><%= @total_miles_driven %></td>
<td></td>
<td></td>
</tr>

<tr>
<th>Turndowns</th>
<td><%= @turndowns %></td>
<td></td>
<td></td>
</tr>

<tr>
<th>Driver hours: Volunteer</th>
<td><%= @volunteer_driver_hours %></td>
<td></td>
<td></td>
</tr>

<tr>
<th>Driver hours: Paid</th>
<td><%= @paid_driver_hours %></td>
<td></td>
<td></td>
</tr>


<tr>
<th>Total Driver hours</th>
<td><%= @paid_driver_hours + @volunteer_driver_hours %></td>
<td></td>
<td></td>
</tr>

<tr>
<th>Volunteer hours: Escort</th>
<td>
<% if can? :edit, @monthly %>
  <%= f.text_field :volunteer_escort_hours %>
<% else %>
  <%= @monthly.volunteer_escort_hours %>
<% end %>
</td>
<td></td>
<td></td>
</tr>

<tr>
<th>Volunteer hours: Administrative</th>
<td>
<% if can? :edit, @monthly %>
  <%= f.text_field :volunteer_admin_hours %>
<% else %>
  <%= @monthly.volunteer_admin_hours %>
<% end %>
</td>
<td></td>
<td></td>
</tr>

<tr>
<th>Unduplicated riders</th>
<td><%= @undup_riders %></td>
<td></td>
<td></td>
</tr>

<tr>
<th>Compliments</th>
<td>
<% if can? :edit, @monthly %>
  <%= f.text_field :compliments %>
<% else %>
  <%= @monthly.compliments %>
<% end %>
</td>
<td></td>
<td></td>
</tr>

<tr>
<th>Complaints</th>
<td>
<% if can? :edit, @monthly %>
  <%= f.text_field :complaints %>
<% else %>
  <%= @monthly.complaints %>
<% end %>
</td>
<td></td>
<td></td>
</tr>

</table>

<% if can? :edit, @monthly %>
<%= f.submit %>
<% end %>
<% end %>

