<%= content_for :title, "Service Summary: #{@provider.name}, #{@start_date.strftime("%B %Y")}" %>
<div id="page-header">
  <h1>Reports: Service Summary</h1>
</div>

<%= form_for @query, :url=>url_for(:action=>:service_summary), :html=>{:method=>:get} do |f| %>
  <fieldset class="select-month">
    <p>
      <%= f.date_select  :start_date, :order => [:month,:year] %>
      <%= f.submit "Report" %>
    </p>
  </fieldset>
<% end %>

<%= render :partial => 'header' %>

<table>
  <tr>
    <th colspan="5" class="table-header print-only">
      Service Summary Section 1 - Trip Data
    </th>
  </tr>
  <tr>
    <th colspan="2">
    </th>
    <th colspan="3" class="service-header">
      STF Service
    </th>
  </tr>
  <tr>
    <th class="line-number">
      Line #
    </th>
    <th>
    </th>
    <th class="data">
      In District
    </th>
    <th class="data">
      Out of District
    </th>
    <th class="data">
      Total
    </th>
  </tr>

  <tr>
    <th></th>
    <th class="section-header">Trips</th>
    <td colspan="3" class="greyed-out"></td>
  </tr>

  <% i = 0 %>
  <% for row in @trips_by_purpose %>
    <tr>
      <th><%= i += 1 %></th>
      <td><%= row['purpose'] %></td>
      <td class="numeric"><%= row['in_district'] %></td>
      <td class="numeric"><%= row['out_of_district'] %></td>
      <td class="numeric total"><%= row['in_district'] + row['out_of_district'] %></td>
    </tr>
  <% end %>

  <tr>
    <th><%= i += 1 %></th>
    <td class="total-label">Total Trips</td>
    <td class="numeric total"><%= @total['in_district'] %></td>
    <td class="numeric total"><%= @total['out_of_district'] %></td>
    <td class="numeric total"><%= @total['in_district'] + @total['out_of_district'] %></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Total miles driven</td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric"><%= @total_miles_driven %></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Turndowns</td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric"><%= @turndowns %></td>
  </tr>

  <tr>
    <th></th>
    <th class="section-header">Drivers</th>
    <td colspan="3" class="greyed-out"></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Driver hours: Volunteer</td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric"><%= @volunteer_driver_hours %></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Driver hours: Paid</td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric"><%= @paid_driver_hours %></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td class="total-label">Total Driver hours</td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric total"><%= @paid_driver_hours + @volunteer_driver_hours %></td>
  </tr>

  <tr>
    <th></th>
    <th class="section-header">Volunteer Hours</th>
    <td colspan="3" class="greyed-out"></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Volunteer hours: Escort</td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric">
      <%= @monthly.volunteer_escort_hours %>
    </td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Volunteer hours: Administrative</td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric">
      <%= @monthly.volunteer_admin_hours %>
    </td>
  </tr>

  <tr>
    <th></th>
    <th class="section-header">Ride Information</th>
    <td colspan=3 class="greyed-out"></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td>Unduplicated riders (First ride this fiscal year)</td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric"><%= @undup_riders %></td>
  </tr>

</table>

<%= render :partial => 'footer' %>
