<%= content_for :title, "Verify Trips#{@query.try(:start_date).try(:strftime, ": %B %Y")}" %>
<div id="page-header">
<h1>Verify Trips<%= @query.try(:start_date).try(:strftime, ": %B %Y") %></h1>
</div>

<% if @query %> 
  <%= form_for @query, :url=>url_for(:action=>:show_trips_for_verification), :html=>{:method=>:get} do |f| %>
    <fieldset class="select-month">
      <p>
        <%= f.date_select  :start_date, :order => [:month,:day,:year] %>
        through 
        <%= f.date_select  :before_end_date, :order => [:month,:day,:year] %>
        <%= f.select       :trip_display, TRIP_VERIFICATION_DISPLAY_OPTIONS %>
        <%= f.submit "Update" %>
      </p>
    </fieldset>
  <% end %>
<% end %>

<%= form_tag :action => "update_trips_for_verification" do |f| %>
  <table>
    <tr>
      <th>Pickup Time</th>
      <th>Customer Name</th>
      <th>Purpose</th>
      <th>Round Trip?</th>
      <th>Guest Count</th>
      <th>Attendant Count</th>
      <th>Result</th>
      <th></th>
      <th></th>
    </tr>
    
    <% @trips.group_by {|trip| trip.pickup_time.to_date}.each do |day, trips| %>
      <tr>
        <th colspan="9">
          <%=format_time_for_listing_day day %>
        </th>
      <tr>
      <% trips.each do |trip| %>
        <% if trip.errors.any? %>
          <tr>
            <td colspan="8">
              <%= render "shared/error_messages", :target => trip %>
            </td>
          <tr>
        <% end %>
        <%= fields_for "trips[]", trip do |trip_fields| %>
          <%= render :partial => "trips/trip_form", :locals => {:trip => trip, :trip_fields => trip_fields, :show_edit_run_link => true} %> 
        <% end %>
      <% end %>
    <% end %>
  </table>
  <div class="actions">
    <%= submit_tag "Update Trips" %>
  </div>
<% end %>
