<div id="page-header">
  <h1>Vehicle Report</h1>
</div>

<%= form_for @query, :url=>url_for(:action=>:vehicle), :html=>{:method=>:get} do |f| %>
  <fieldset>
    <p>
      <%= f.date_select  :start_date, :order => [:month,:year] %>
      <%= f.submit "Report" %>
    </p>
  </fieldset>
<% end %>

<div class="report selfclear">
  <table>
    <tr>
      <th colspan="2">
        Vehicle Year/Make/Model (Internal Name)
      </th>
      <th>
        Total Trips
      </th>
      <th>
        Hours in Operation
      </th>
      <th>
        Avg Rides/Hours
      </th>
      <th>
        Start Odometer
      </th>
      <th>
        End Odometer
      </th>
      <th>
        Mileage
      </th>
    </tr>

    <% @vehicles.each do |vehicle| %>
      <tr>
        <th colspan="2"><%= "#{vehicle.year}/#{vehicle.make}/#{vehicle.model} (#{vehicle.name})" %></th>
        <td><%= @total_rides[vehicle] %></td>
        <td><%= @total_hours[vehicle] %></td>
        <td>
          <% if @total_hours[vehicle] == 0 %>
           0
          <% else %>
           <%= @total_rides[vehicle] / @total_hours[vehicle]  %>
          <% end %>
        </td>
        <td><%= @beginning_odometer[vehicle] %></td>
        <td><%= @ending_odometer[vehicle] %></td>
        <td><%= @ending_odometer[vehicle] - @beginning_odometer[vehicle] %></td>
      </tr>
      <tr>
        <th>VIN:</th>
        <td><%= vehicle.vin %></td>
        <td colspan="6" rowspan="3"></td>
      </tr>
      <tr>
        <th>License Plate:</th>
        <td><%= vehicle.license_plate %></td>
      </tr>
      <tr>
        <th>Garaged Address:</th>
        <td><%= vehicle.garaged_location %></td>
      </tr>
    <% end %>

  </table>
</div>


<%= link_to 'Back to Reports', reports_path, :class=>'action-bttn' %>
