<div id="page-header">
  <h1>Vehicle Report: <%= @vehicle.name %></h1>
</div>

<%= render :partial=>"vehicle_select" %>

<div class="report selfclear">

<dl>
  <dt>Vehicle:</dt> 
  <dd><%= @vehicle.name %></dd>

  <dt>Year / Make / Model:</dt> 
  <dd><%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></dd>

  <dt>License Plate:</dt> 
  <dd><%= @vehicle.license_plate %></dd>

  <dt>Parked/Garaged Location:</dt> 
  <dd><%= @vehicle.garaged_location %></dd>
</dl>

<dl>
  <dt>Total Hours in Operation:</dt>
  <dd><%= @total_hours %></dd>

  <dt>Total Rides this month:</dt>
  <dd><%= @total_rides %></dd>

  <dt>Average rides per hour:</dt>
  <dd>
    <% if @total_hours == 0 %>
     0
    <% else %>
     <%= @total_rides / @total_hours  %>
    <% end %>
  </dd>
</dl>

<dl>
  <dt>Beginning odometer:</dt>
  <dd><%= @beginning_odometer %></dd>

  <dt>Ending odometer:</dt>
  <dd><%= @ending_odometer %></dd>

  <dt>Total Mileage:</dt>
  <dd><%= @beginning_odometer - @ending_odometer %></dd>
</dl>

</div>

<hr />

<h2 class="section-header">Repairs not covered by Preventive Maintenance Reimbursement Program</h2>
<%= render :partial=>"event_table", :locals=>{:events => @noncoverered_events} %>

<hr />

<h2 class="section-header">Scheduled maintenance covered under the Preventive Maintenance Reimbursement Program</h2>
<%= render :partial=>"event_table", :locals=>{:events => @coverered_events} %>

<hr />

<%= link_to 'Back to Reports', reports_path, :class=>'action-bttn' %>
