<!DOCTYPE html>
<html>
<head>
  <title>Ridepilot</title>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "print.css", :media=>'print' %>
  <%= stylesheet_link_tag "jquery-ui-1.8.9.custom.css" %>
  <%= stylesheet_link_tag "jquery.weekcalendar.css" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= javascript_include_tag "jquery.weekcalendar.js" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon.js" %>
  <%= javascript_include_tag "dateFormat.js" %>
  <%= javascript_include_tag "jquery.colorPicker.js" %>

  <%= csrf_meta_tag %>

</head>
<body class="<%= bodytag_class %>">
  <div id="header">
    <div class="wrap selfclear">
      <a id="logo" href="/">Ride Pilot</a>
      <div id="login-area">
        <% if current_user %>
          <a href="#"><%= current_user.email %></a> 
          <span class="separator">|</span>
          <%= link_to "Log out", destroy_user_session_path %>
          <span class="separator">|</span>
          Logged in to 
          <% if @provider_map.size > 1 %>
          <%= form_tag change_provider_path %>
            <select name="provider_id" onchange="form.submit();">
              <%= options_for_select(@provider_map, selected = current_user.current_provider_id) %>
            </select>
            <%= hidden_field_tag "come_from", request.fullpath %>
          </form>
          <% else %>
            <%= current_user.current_provider.name %>
          <% end %>

        <% end %>
      </div>
    </div><!-- /.wrap -->
  </div><!-- /#header -->
  <div id="crossbar">
    <div class="wrap selfclear">
      <ul id="primary-nav" class="selfclear">
        <li class="trips"><%= link_to "Trips", trips_path %></li>
        <li class="runs"><%= link_to "Runs", runs_path %></li>
        <li class="customers"><%= link_to "Customers", customers_path %></li>
        <li class="reports"><%= link_to "Reports", reports_path %></li>
        <% if current_user && can?(:edit, Provider) %>
        <li class="vehicles-drivers-users"><%= link_to "Users, Drivers & Vehicles", provider_path(current_user.current_provider) %></li>
        <% end %>
        <% if show_dispatch? %>
        <li class="dispatch"><%= link_to "Dispatch", dispatch_path %></li>
        <% end %>
      </ul>
      <ul id="secondary-nav" class="selfclear">
        <% if current_user && can?(:edit, Provider) %>
        <li class="providers"><%= link_to "Providers", providers_path %></li>
        <% end %>
        <% if current_user && can?(:edit, FundingSource) %>
        <li class="funding-sources"><%= link_to "Funding Sources", funding_sources_path %></li>
        <% end %>
      </ul>
    </div><!-- /.wrap -->
  </div><!-- /#crossbar -->

  <div id="main">

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= content_for?(:menu_bar) ? yield(:menu_bar) : '' %>

<%= yield %>

  </div>

</body>
</html>
