<% content_for :menu_bar do %>
        <ul id="subnav" class="selfclear">
          <li><%= link_to 'New Trip', new_trip_path %></li>
          <li><%= link_to "View Trips", :action=>:index %></li>
          <li><%= link_to "Unscheduled Trips", :action=>:unscheduled %></li>
          <li><%= link_to "Trips Requiring Callback", :action=>:trips_requiring_callback %></li>
          <li><%= link_to "Reconcile Cab Log", :action=>:reconcile_cab %></li>
        </ul>
<% end %>

<%= render :file => 'layouts/application' %>
