<% content_for :menu_bar do %>
        <ul id="sitenav" class="selfclear">
          <li><%= link_to "View Trips", :action=>:index %></li>
          <li><%= link_to "Unscheduled trips", :action=>:unscheduled %></li>
          <li><%= link_to "Trips requiring callback", :action=>:trips_requiring_callback %></li>
          <li><%= link_to "Reconcile cab log", :action=>:reconcile_cab %></li>
        </ul>
<% end %>

<%= render :file => 'layouts/application' %>
